.App{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.App button{
width: 8rem;
height: 2rem;
margin: .5rem;
border: none;
color: white;
font-size: large;
font-weight: bold;
border-radius: 8px;
}

.square{
  width: 10rem;
  height: 10rem;
  text-align: center;
  color: white;
  background-color: tomato;
}
.circle{
  display: flex;
  width: 10rem;
  height: 10rem;
  justify-content: center;
  color: white;
  margin-left: 10px;
  border-radius: 100px;
  background-color: tomato;
}






